<launch>
  <!-- Pure Pursuit nominal -> control_mux -> virtual vehicle closed-loop test. -->
  <arg name="workspace_path" default="$(env HOME)/morai_ws" />
  <arg name="path_file" default="$(arg workspace_path)/data/routes/2026_molit_comp_global_path.txt" />
  <arg name="stop_after_sec" default="10.0" />

  <include file="$(find purepursuit_mgeo)/launch/purepursuit_mgeo.launch">
    <arg name="workspace_path" value="$(arg workspace_path)" />
    <arg name="path_file" value="$(arg path_file)" />
    <arg name="enable_control" value="true" />
    <arg name="command_topic" value="/control/ctrl_cmd" />
  </include>

  <node pkg="purepursuit_mgeo"
        type="kinematic_vehicle_sim.py"
        name="kinematic_vehicle_sim"
        output="screen">
    <param name="path_file" value="$(arg path_file)" />
    <param name="command_topic" value="/ctrl_cmd" />
    <param name="odom_topic" value="/localization/odometry" />
    <param name="wheelbase_m" value="3.0" />
    <param name="max_steering_rad" value="0.6981317008" />
  </node>

  <node pkg="control_mux"
        type="control_mux_test_publisher.py"
        name="control_mux_safety_test_publisher"
        output="screen">
    <param name="stop_after_sec" value="$(arg stop_after_sec)" />
    <param name="publish_nominal" value="false" />
    <param name="publish_odom" value="false" />
  </node>

  <include file="$(find control_mux)/launch/control_mux.launch">
    <arg name="nominal_command_topic" value="/control/ctrl_cmd" />
    <arg name="output_command_topic" value="/ctrl_cmd" />
    <arg name="require_fresh_safety" value="true" />
    <arg name="require_fresh_localization" value="true" />
  </include>
</launch>
