<launch>
  <!-- Top-level launch file for competition day. Add algorithm nodes as each module becomes ready. -->

  <arg name="use_rosbridge" default="true" />
  <arg name="record_bag" default="false" />

  <include if="$(arg use_rosbridge)" file="$(find morai_competition_bringup)/launch/rosbridge.launch" />
  <include file="$(find morai_competition_bringup)/launch/sensors.launch" />
  <include file="$(find morai_competition_bringup)/launch/autonomy.launch" />
  <include if="$(arg record_bag)" file="$(find morai_competition_bringup)/launch/logging.launch" />
</launch>

