<launch>
  <arg name="waypoint_file" default="$(find yeoms_control)/waypoints/test_straight.csv" />
  <arg name="command_type" default="twist" />
  <arg name="record_bag" default="false" />

  <!-- UDP GPS -> /localization/ego_pose, /localization/ego_twist -->
  <include file="$(find yeoms_udp_bridge)/launch/udp_gps_localization.launch" />

  <!-- Stanley computes /control/ctrl_cmd. This dry run does not send UDP control to MORAI. -->
  <include file="$(find yeoms_control)/launch/stanley_test.launch">
    <arg name="waypoint_file" value="$(arg waypoint_file)" />
    <arg name="command_type" value="$(arg command_type)" />
  </include>

  <include if="$(arg record_bag)" file="$(find morai_competition_bringup)/launch/logging.launch" />
</launch>
