<launch>
  <!-- GPS·IMU·EgoStatus UDP + MGeo EKF + Pure Pursuit 실제 통합 런치 -->
  <arg name="workspace_path" default="$(env HOME)/morai_ws" />
  <arg name="path_file" default="$(arg workspace_path)/data/routes/2026_molit_comp_global_path.txt" />
  <arg name="bind_ip" default="0.0.0.0" />
  <arg name="gps_port" default="3001" />
  <arg name="imu_port" default="4001" />
  <arg name="ego_status_port" default="909" />
  <arg name="morai_host_ip" default="192.168.0.151" />
  <arg name="control_remote_port" default="9093" />
  <arg name="control_source_port" default="9094" />
  <arg name="enable_control" default="false" />
  <arg name="wheelbase_m" default="3.0" />
  <arg name="command_topic" default="/ctrl_cmd" />
  <arg name="ekf_gps_topic" default="/localization/gps" />
  <arg name="ekf_imu_topic" default="/Imu" />
  <arg name="ekf_default_gps_variance_m2" default="1.0" />
  <arg name="ekf_gyro_noise_std_rad_s" default="0.08" />
  <arg name="ekf_accel_noise_std_m_s2" default="0.8" />
  <arg name="ekf_bias_random_walk" default="0.001" />

  <!-- 1. MORAI GPS·IMU UDP -> /gps, /Imu -->
  <include file="$(find morai_udp_bridge)/launch/morai_udp_bridge.launch">
    <arg name="bind_ip" value="$(arg bind_ip)" />
    <arg name="gps_port" value="$(arg gps_port)" />
    <arg name="imu_port" value="$(arg imu_port)" />
    <arg name="gps_frame_id" value="gps_link" />
    <arg name="imu_frame_id" value="imu_link" />
    <!-- GPS와 IMU를 Ubuntu 수신 시각으로 통일한다. -->
    <arg name="imu_use_packet_time" value="false" />
  </include>

  <!-- 2. MORAI EgoVehicleStatus 수신 + CtrlCmd UDP 송신 -->
  <include file="$(find morai_udp_drive_bridge)/launch/morai_udp_drive_bridge.launch">
    <arg name="status_bind_ip" value="$(arg bind_ip)" />
    <arg name="status_port" value="$(arg ego_status_port)" />
    <arg name="status_topic" value="/Ego_topic" />
    <arg name="status_frame_id" value="map" />
    <arg name="control_remote_ip" value="$(arg morai_host_ip)" />
    <arg name="control_remote_port" value="$(arg control_remote_port)" />
    <arg name="control_bind_port" value="$(arg control_source_port)" />
    <arg name="command_topic" value="/ctrl_cmd" />
  </include>

  <!-- 3. 차량 기준점과 센서의 정적 TF -->
  <node pkg="tf"
        type="static_transform_publisher"
        name="base_link_to_gps_link"
        args="0 0 1.2 0 0 0 base_link gps_link 100" />
  <node pkg="tf"
        type="static_transform_publisher"
        name="base_link_to_imu_link"
        args="0 0 0 0 0 0 base_link imu_link 100" />

  <!-- 4. GPS 위경도 -> MGeo local ENU /localization/gps -->
  <include file="$(find gps_mgeo_converter)/launch/gps_mgeo_converter.launch">
    <arg name="gps_xyz_x" value="0.0" />
    <arg name="gps_xyz_y" value="0.0" />
    <arg name="gps_xyz_z" value="1.2" />
  </include>

  <!-- 5. GPS + IMU -> MGeo map/base_link EKF -->
  <include file="$(find ekf_local_enu)/launch/ekf_local_enu.launch">
    <arg name="gps_topic" value="$(arg ekf_gps_topic)" />
    <arg name="imu_topic" value="$(arg ekf_imu_topic)" />
    <arg name="default_gps_variance_m2" value="$(arg ekf_default_gps_variance_m2)" />
    <arg name="gyro_noise_std_rad_s" value="$(arg ekf_gyro_noise_std_rad_s)" />
    <arg name="accel_noise_std_m_s2" value="$(arg ekf_accel_noise_std_m_s2)" />
    <arg name="bias_random_walk" value="$(arg ekf_bias_random_walk)" />
  </include>

  <!-- 6. EKF pose + MGeo path -> CtrlCmd -->
  <include file="$(find purepursuit_mgeo)/launch/purepursuit_mgeo.launch">
    <arg name="workspace_path" value="$(arg workspace_path)" />
    <arg name="path_file" value="$(arg path_file)" />
    <arg name="enable_control" value="$(arg enable_control)" />
    <arg name="wheelbase_m" value="$(arg wheelbase_m)" />
    <arg name="command_topic" value="$(arg command_topic)" />
  </include>
</launch>
