<launch>
  <arg name="output_file" default="" />
  <arg name="target_speed_mps" default="1.0" />
  <arg name="min_distance_m" default="0.2" />
  <arg name="min_time_s" default="0.1" />
  <arg name="use_measured_speed" default="false" />

  <node pkg="yeoms_control"
        type="waypoint_recorder.py"
        name="waypoint_recorder"
        output="screen">
    <param name="output_file" value="$(arg output_file)" />
    <param name="target_speed_mps" value="$(arg target_speed_mps)" />
    <param name="min_distance_m" value="$(arg min_distance_m)" />
    <param name="min_time_s" value="$(arg min_time_s)" />
    <param name="use_measured_speed" value="$(arg use_measured_speed)" />
  </node>
</launch>
