<launch>
  <arg name="config_file" default="$(find yeoms_control)/config/stanley.yaml" />
  <arg name="waypoint_file" default="$(find yeoms_control)/waypoints/test_straight.csv" />
  <arg name="command_type" default="twist" />
  <arg name="target_speed_override_mps" default="1.3" />
  <arg name="max_target_speed_mps" default="1.3" />

  <rosparam command="load" file="$(arg config_file)" />

  <node pkg="yeoms_control"
        type="stanley_controller.py"
        name="stanley_controller"
        output="screen">
    <param name="waypoint_file" value="$(arg waypoint_file)" />
    <param name="command_type" value="$(arg command_type)" />
    <param name="target_speed_override_mps" value="$(arg target_speed_override_mps)" />
    <param name="max_target_speed_mps" value="$(arg max_target_speed_mps)" />
  </node>
</launch>
