<launch>
  <!-- GPS·IMU·EgoStatus UDP + MGeo EKF + Pure Pursuit 실제 통합 런치 -->
  <arg name="workspace_path" default="$(env HOME)/morai_ws" />
  <arg name="path_file" default="$(arg workspace_path)/data/routes/2026_molit_comp_global_path.txt" />
  <arg name="bind_ip" default="0.0.0.0" />
  <arg name="gps_port" default="3001" />
  <arg name="imu_port" default="4001" />
  <arg name="ego_status_port" default="909" />
  <arg name="morai_host_ip" default="192.168.0.151" />
  <arg name="control_remote_port" default="9093" />
  <arg name="control_source_port" default="9094" />
  <arg name="enable_control" default="false" />
  <arg name="wheelbase_m" default="3.0" />
  <arg name="command_topic" default="/ctrl_cmd" />
  <arg name="longl_cmd_type" default="1" />
  <!-- 권장 주행: 곡률 속도 프로파일 + 목표속도 PI + accel/brake -->
  <arg name="use_curvature_speed_planner" default="true" />
  <arg name="target_speed_kph" default="7.2" />
  <arg name="max_speed_kph" default="7.2" />
  <arg name="lateral_accel_limit_mps2" default="1.0" />
  <arg name="max_accel_mps2" default="1.0" />
  <arg name="max_decel_mps2" default="1.5" />
  <arg name="initial_speed_kph" default="0.0" />
  <arg name="final_speed_kph" default="0.0" />
  <arg name="speed_kp" default="0.8" />
  <arg name="speed_ki" default="0.05" />
  <arg name="speed_integral_limit_kph_s" default="10.8" />
  <arg name="speed_error_deadband_kph" default="0.1" />
  <arg name="ekf_gps_topic" default="/localization/gps" />
  <arg name="ekf_imu_topic" default="/Imu" />
  <arg name="ekf_default_gps_variance_m2" default="1.0" />
  <arg name="ekf_gyro_noise_std_rad_s" default="0.08" />
  <arg name="ekf_accel_noise_std_m_s2" default="0.8" />
  <arg name="ekf_bias_random_walk" default="0.001" />

  <!-- 1. MORAI GPS·IMU UDP -> /gps, /Imu -->
  <include file="$(find morai_udp_bridge)/launch/morai_udp_bridge.launch">
    <arg name="bind_ip" value="$(arg bind_ip)" />
    <arg name="gps_port" value="$(arg gps_port)" />
    <arg name="imu_port" value="$(arg imu_port)" />
    <arg name="gps_frame_id" value="gps_link" />
    <arg name="imu_frame_id" value="imu_link" />
    <!-- GPS와 IMU를 Ubuntu 수신 시각으로 통일한다. -->
    <arg name="imu_use_packet_time" value="false" />
  </include>

  <!-- 2. MORAI EgoVehicleStatus 수신 + CtrlCmd UDP 송신 -->
  <include file="$(find morai_udp_drive_bridge)/launch/morai_udp_drive_bridge.launch">
    <arg name="status_bind_ip" value="$(arg bind_ip)" />
    <arg name="status_port" value="$(arg ego_status_port)" />
    <arg name="status_topic" value="/Ego_topic" />
    <arg name="status_frame_id" value="map" />
    <arg name="control_remote_ip" value="$(arg morai_host_ip)" />
    <arg name="control_remote_port" value="$(arg control_remote_port)" />
    <arg name="control_bind_port" value="$(arg control_source_port)" />
    <arg name="command_topic" value="/ctrl_cmd" />
    <arg name="longl_cmd_type" value="$(arg longl_cmd_type)" />
  </include>

  <!-- 3. 차량 기준점과 센서의 정적 TF -->
  <node pkg="tf"
        type="static_transform_publisher"
        name="base_link_to_gps_link"
        args="0 0 1.2 0 0 0 base_link gps_link 100" />
  <node pkg="tf"
        type="static_transform_publisher"
        name="base_link_to_imu_link"
        args="0 0 0 0 0 0 base_link imu_link 100" />

  <!-- 4. GPS 위경도 -> MGeo local ENU /localization/gps -->
  <include file="$(find gps_mgeo_converter)/launch/gps_mgeo_converter.launch">
    <arg name="gps_xyz_x" value="0.0" />
    <arg name="gps_xyz_y" value="0.0" />
    <arg name="gps_xyz_z" value="1.2" />
  </include>

  <!-- 5. GPS + IMU -> MGeo map/base_link EKF -->
  <include file="$(find ekf_local_enu)/launch/ekf_local_enu.launch">
    <arg name="gps_topic" value="$(arg ekf_gps_topic)" />
    <arg name="imu_topic" value="$(arg ekf_imu_topic)" />
    <arg name="default_gps_variance_m2" value="$(arg ekf_default_gps_variance_m2)" />
    <arg name="gyro_noise_std_rad_s" value="$(arg ekf_gyro_noise_std_rad_s)" />
    <arg name="accel_noise_std_m_s2" value="$(arg ekf_accel_noise_std_m_s2)" />
    <arg name="bias_random_walk" value="$(arg ekf_bias_random_walk)" />
  </include>

  <!-- 6. EKF pose + 경로 -> 조향 및 종방향 CtrlCmd -->
  <group unless="$(arg use_curvature_speed_planner)">
    <include file="$(find purepursuit_mgeo)/launch/purepursuit_mgeo.launch">
      <arg name="workspace_path" value="$(arg workspace_path)" />
      <arg name="path_file" value="$(arg path_file)" />
      <arg name="enable_control" value="$(arg enable_control)" />
      <arg name="wheelbase_m" value="$(arg wheelbase_m)" />
      <arg name="command_topic" value="$(arg command_topic)" />
      <arg name="longl_cmd_type" value="$(arg longl_cmd_type)" />
      <arg name="target_speed_kph" value="$(arg target_speed_kph)" />
      <arg name="speed_kp" value="$(arg speed_kp)" />
      <arg name="speed_ki" value="$(arg speed_ki)" />
      <arg name="max_accel_mps2" value="$(arg max_accel_mps2)" />
      <arg name="max_decel_mps2" value="$(arg max_decel_mps2)" />
      <arg name="speed_integral_limit_kph_s" value="$(arg speed_integral_limit_kph_s)" />
      <arg name="speed_error_deadband_kph" value="$(arg speed_error_deadband_kph)" />
    </include>
  </group>

  <group if="$(arg use_curvature_speed_planner)">
    <node pkg="curvature_speed_purepursuit"
          type="curvature_speed_purepursuit_node.py"
          name="curvature_speed_purepursuit"
          output="screen">
      <param name="path_file" value="$(arg path_file)" />
      <param name="pose_topic" value="/localization/odometry" />
      <param name="command_topic" value="$(arg command_topic)" />
      <param name="publish_command" value="$(arg enable_control)" />
      <param name="pose_timeout_sec" value="0.5" />
      <param name="duplicate_epsilon_m" value="0.000001" />
      <param name="curvature_half_window_points" value="1" />
      <param name="curvature_smoothing_window" value="5" />
      <param name="max_speed_kph" value="$(arg max_speed_kph)" />
      <param name="lateral_accel_limit_mps2" value="$(arg lateral_accel_limit_mps2)" />
      <param name="max_accel_mps2" value="$(arg max_accel_mps2)" />
      <param name="max_decel_mps2" value="$(arg max_decel_mps2)" />
      <param name="initial_speed_kph" value="$(arg initial_speed_kph)" />
      <param name="final_speed_kph" value="$(arg final_speed_kph)" />
      <param name="wheelbase_m" value="$(arg wheelbase_m)" />
      <param name="lookahead_min_m" value="4.0" />
      <param name="lookahead_gain" value="0.35" />
      <param name="goal_tolerance_m" value="1.5" />
      <param name="max_steering_rad" value="0.6981317008" />
      <param name="steering_sign" value="1.0" />
      <param name="longl_cmd_type" value="$(arg longl_cmd_type)" />
      <param name="speed_kp" value="$(arg speed_kp)" />
      <param name="speed_ki" value="$(arg speed_ki)" />
      <param name="speed_integral_limit_kph_s" value="$(arg speed_integral_limit_kph_s)" />
      <param name="speed_error_deadband_kph" value="$(arg speed_error_deadband_kph)" />
      <param name="control_rate_hz" value="20.0" />
      <param name="progress_search_window_points" value="250" />
      <param name="progress_backtrack_tolerance_m" value="2.0" />
    </node>
  </group>
</launch>
