<launch>
  <arg name="config_file" default="$(find yeoms4_hybrid_controller)/config/hybrid_controller.yaml" />
  <arg name="waypoint_file" default="$(env HOME)/morai_recorded_paths/01.csv" />
  <arg name="target_speed_mps" default="1.0" />
  <arg name="max_speed_mps" default="1.0" />
  <arg name="use_csv_target_speed" default="false" />
  <arg name="hybrid_stanley_weight" default="0.45" />
  <arg name="stanley_gain" default="0.35" />
  <arg name="softening_gain" default="2.0" />
  <arg name="min_curve_speed_mps" default="2.5" />
  <arg name="min_lookahead_m" default="3.0" />
  <arg name="max_lookahead_m" default="12.0" />
  <arg name="start_from_first_waypoint" default="true" />
  <arg name="require_start_pose" default="false" />
  <arg name="start_position_tolerance_m" default="3.0" />
  <arg name="start_yaw_tolerance_rad" default="0.7" />

  <rosparam command="load" file="$(arg config_file)" />
  <param name="/hybrid_controller/waypoint_file" value="$(arg waypoint_file)" />
  <param name="/hybrid_controller/target_speed_mps" value="$(arg target_speed_mps)" />
  <param name="/hybrid_controller/max_speed_mps" value="$(arg max_speed_mps)" />
  <param name="/hybrid_controller/use_csv_target_speed" value="$(arg use_csv_target_speed)" />
  <param name="/hybrid_controller/hybrid_stanley_weight" value="$(arg hybrid_stanley_weight)" />
  <param name="/hybrid_controller/stanley_gain" value="$(arg stanley_gain)" />
  <param name="/hybrid_controller/softening_gain" value="$(arg softening_gain)" />
  <param name="/hybrid_controller/min_curve_speed_mps" value="$(arg min_curve_speed_mps)" />
  <param name="/hybrid_controller/min_lookahead_m" value="$(arg min_lookahead_m)" />
  <param name="/hybrid_controller/max_lookahead_m" value="$(arg max_lookahead_m)" />
  <param name="/hybrid_controller/start_from_first_waypoint" value="$(arg start_from_first_waypoint)" />
  <param name="/hybrid_controller/require_start_pose" value="$(arg require_start_pose)" />
  <param name="/hybrid_controller/start_position_tolerance_m" value="$(arg start_position_tolerance_m)" />
  <param name="/hybrid_controller/start_yaw_tolerance_rad" value="$(arg start_yaw_tolerance_rad)" />

  <node pkg="yeoms4_hybrid_controller"
        type="hybrid_controller.py"
        name="hybrid_controller"
        output="screen" />
</launch>
