<launch>
  <arg name="lidar_port" default="2001" />
  <arg name="pointcloud_topic" default="/sensors/lidar/points" />
  <arg name="frame_id" default="velodyne" />
  <arg name="publish_packets_per_cloud" default="76" />

  <node pkg="yeoms_lidar_bridge"
        type="vlp16_udp_receiver.py"
        name="vlp16_udp_receiver"
        output="screen">
    <param name="bind_ip" value="0.0.0.0" />
    <param name="lidar_port" value="$(arg lidar_port)" />
    <param name="pointcloud_topic" value="$(arg pointcloud_topic)" />
    <param name="packet_info_topic" value="/perception/lidar/packet_info" />
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="socket_timeout_sec" value="1.0" />
    <param name="publish_packets_per_cloud" value="$(arg publish_packets_per_cloud)" />
    <param name="min_distance_m" value="0.2" />
    <param name="max_distance_m" value="120.0" />
    <param name="max_points_per_cloud" value="100000" />
    <param name="azimuth_offset_deg" value="0.0" />
    <param name="invert_y" value="false" />
    <param name="invert_z" value="false" />
  </node>
</launch>
