<launch>
  <arg name="gps_topic" default="/localization/gps" />
  <arg name="imu_topic" default="/Imu" />
  <arg name="default_gps_variance_m2" default="1.0" />
  <arg name="default_yaw_std_deg" default="8.0" />
  <arg name="gyro_noise_std_rad_s" default="0.08" />
  <arg name="accel_noise_std_m_s2" default="0.8" />
  <arg name="bias_random_walk" default="0.001" />
  <arg name="use_sensor_quality_gate" default="false" />
  <arg name="quality_topic" default="/localization/sensor_quality" />
  <arg name="quality_timeout_sec" default="0.5" />
  <arg name="enable_gps_jump_gate" default="false" />
  <arg name="gps_jump_gate_m" default="3.0" />
  <arg name="gps_speed_gate_mps" default="10.0" />
  <arg name="enable_gps_innovation_gate" default="false" />
  <arg name="gps_innovation_gate_m" default="5.0" />

  <node pkg="ekf_local_enu"
        type="ekf_local_enu_node.py"
        name="ekf_local_enu"
        output="screen">
    <param name="gps_topic" value="$(arg gps_topic)" />
    <param name="imu_topic" value="$(arg imu_topic)" />
    <param name="odom_topic" value="/localization/odometry" />
    <param name="pose_topic" value="/localization/pose" />
    <param name="map_frame" value="map" />
    <param name="base_frame" value="base_link" />
    <param name="use_imu_orientation" value="true" />
    <param name="yaw_offset_deg" value="0.0" />
    <param name="default_gps_variance_m2" value="$(arg default_gps_variance_m2)" />
    <param name="default_yaw_std_deg" value="$(arg default_yaw_std_deg)" />
    <param name="gyro_noise_std_rad_s" value="$(arg gyro_noise_std_rad_s)" />
    <param name="accel_noise_std_m_s2" value="$(arg accel_noise_std_m_s2)" />
    <param name="bias_random_walk" value="$(arg bias_random_walk)" />
    <param name="use_sensor_quality_gate" value="$(arg use_sensor_quality_gate)" />
    <param name="quality_topic" value="$(arg quality_topic)" />
    <param name="quality_timeout_sec" value="$(arg quality_timeout_sec)" />
    <param name="enable_gps_jump_gate" value="$(arg enable_gps_jump_gate)" />
    <param name="gps_jump_gate_m" value="$(arg gps_jump_gate_m)" />
    <param name="gps_speed_gate_mps" value="$(arg gps_speed_gate_mps)" />
    <param name="enable_gps_innovation_gate" value="$(arg enable_gps_innovation_gate)" />
    <param name="gps_innovation_gate_m" value="$(arg gps_innovation_gate_m)" />
    <param name="publish_tf" value="true" />
  </node>
</launch>
