<launch>
  <arg name="gps_topic" default="/localization/gps" />
  <arg name="imu_topic" default="/Imu" />
  <arg name="default_gps_variance_m2" default="1.0" />
  <arg name="default_yaw_std_deg" default="8.0" />
  <arg name="gyro_noise_std_rad_s" default="0.08" />
  <arg name="accel_noise_std_m_s2" default="0.8" />
  <arg name="bias_random_walk" default="0.001" />

  <node pkg="ekf_local_enu"
        type="ekf_local_enu_node.py"
        name="ekf_local_enu"
        output="screen">
    <param name="gps_topic" value="$(arg gps_topic)" />
    <param name="imu_topic" value="$(arg imu_topic)" />
    <param name="odom_topic" value="/localization/odometry" />
    <param name="pose_topic" value="/localization/pose" />
    <param name="map_frame" value="map" />
    <param name="base_frame" value="base_link" />
    <param name="use_imu_orientation" value="true" />
    <param name="yaw_offset_deg" value="0.0" />
    <param name="default_gps_variance_m2" value="$(arg default_gps_variance_m2)" />
    <param name="default_yaw_std_deg" value="$(arg default_yaw_std_deg)" />
    <param name="gyro_noise_std_rad_s" value="$(arg gyro_noise_std_rad_s)" />
    <param name="accel_noise_std_m_s2" value="$(arg accel_noise_std_m_s2)" />
    <param name="bias_random_walk" value="$(arg bias_random_walk)" />
    <param name="publish_tf" value="true" />
  </node>
</launch>
