<launch>
  <arg name="workspace_path" default="$(env HOME)/morai_ws" />
  <arg name="path_file" default="$(arg workspace_path)/data/routes/2026_molit_comp_global_path.txt" />
  <arg name="enable_control" default="false" />
  <arg name="wheelbase_m" default="2.7" />

  <node pkg="purepursuit_mgeo"
        type="purepursuit_mgeo_node.py"
        name="purepursuit_mgeo"
        output="screen">
    <param name="path_file" value="$(arg path_file)" />
    <param name="pose_topic" value="/localization/odometry" />
    <param name="command_topic" value="/ctrl_cmd" />
    <param name="lookahead_topic" value="/control/lookahead_point" />
    <param name="wheelbase_m" value="$(arg wheelbase_m)" />
    <param name="target_speed_mps" value="2.0" />
    <param name="lookahead_min_m" value="4.0" />
    <param name="lookahead_gain" value="0.35" />
    <param name="goal_tolerance_m" value="1.5" />
    <param name="max_steering_rad" value="0.6" />
    <param name="longl_cmd_type" value="2" />
    <param name="enable_control" value="$(arg enable_control)" />
  </node>
</launch>
