<launch>
  <!-- MORAI LiDAR is received directly over UDP. ROS is local transport only. -->
  <arg name="bind_ip" default="0.0.0.0" />
  <arg name="host_port" default="2000" />
  <arg name="destination_port" default="2001" />
  <arg name="odometry_topic" default="/localization/odometry" />
  <arg name="deskew_enabled" default="true" />
  <arg name="deskew_pose_source" default="ros_odometry" />
  <arg name="frame_id" default="morai_lidar" />
  <arg name="topic" default="/morai/lidar/live_points" />
  <arg name="display_topic" default="/morai/lidar/display_points" />
  <arg name="packets_per_cloud" default="15" />
  <arg name="x_min_m" default="-40.0" />
  <arg name="x_max_m" default="40.0" />
  <arg name="y_abs_m" default="40.0" />
  <arg name="ground_z_threshold_m" default="-1.5" />
  <arg name="vertical_support_enabled" default="true" />
  <arg name="vertical_support_radius_m" default="0.65" />
  <arg name="vertical_support_min_height_m" default="0.05" />
  <!-- Standalone compatibility default. Algorithm pipelines may disable this
       because their Euclidean/tracking node already clusters live_points. -->
  <arg name="cluster_enabled" default="true" />

  <node pkg="lidar_perception"
        type="morai_lidar_udp_source.py"
        name="morai_lidar_udp_source"
        output="screen">
    <param name="bind_ip" value="$(arg bind_ip)" />
    <param name="host_port" value="$(arg host_port)" />
    <param name="destination_port" value="$(arg destination_port)" />
    <param name="odometry_topic" value="$(arg odometry_topic)" />
    <param name="deskew_enabled" value="$(arg deskew_enabled)" />
    <param name="deskew_pose_source" value="$(arg deskew_pose_source)" />
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="topic" value="$(arg topic)" />
    <param name="display_topic" value="$(arg display_topic)" />
    <param name="packets_per_cloud" value="$(arg packets_per_cloud)" />
    <param name="rolling_clouds" value="1" />
    <param name="display_rolling_clouds" value="1" />
    <param name="max_cloud_age_s" value="0.05" />
    <param name="fov_left_deg" value="180.0" />
    <param name="fov_right_deg" value="180.0" />
    <param name="rear_blind_deg" value="0.0" />
    <param name="x_min_m" value="$(arg x_min_m)" />
    <param name="x_max_m" value="$(arg x_max_m)" />
    <param name="y_abs_m" value="$(arg y_abs_m)" />
    <param name="z_min_m" value="-2.5" />
    <param name="z_max_m" value="3.0" />
    <param name="ground_remove_enabled" value="true" />
    <param name="ground_z_threshold_m" value="$(arg ground_z_threshold_m)" />
    <param name="vertical_support_enabled" value="$(arg vertical_support_enabled)" />
    <param name="vertical_support_filter_cloud" value="true" />
    <param name="vertical_support_radius_m" value="$(arg vertical_support_radius_m)" />
    <param name="vertical_support_min_height_m" value="$(arg vertical_support_min_height_m)" />
    <param name="fast_nearest_enabled" value="false" />
    <param name="cluster_enabled" value="$(arg cluster_enabled)" />
    <param name="merge_gap_enabled" value="false" />
  </node>
</launch>
