<launch>
  <arg name="rviz" default="true" />
  <arg name="bind_ip" default="0.0.0.0" />
  <arg name="host_port" default="2000" />
  <arg name="destination_port" default="2001" />
  <arg name="odometry_topic" default="/localization/odometry" />
  <arg name="merge_available_topic" default="/perception/merge_gap/available" />
  <arg name="merge_unavailable_topic" default="/perception/merge_gap/unavailable" />
  <arg name="lidar_x_m" default="0.0" />
  <arg name="lidar_y_m" default="0.0" />
  <arg name="lidar_yaw_deg" default="0.0" />
  <arg name="vehicle_length_m" default="4.635" />
  <arg name="vehicle_width_m" default="1.892" />
  <arg name="vehicle_height_m" default="2.434" />
  <arg name="lane_width_m" default="3.5" />
  <arg name="longitudinal_margin_m" default="1.0" />
  <arg name="time_headway_s" default="1.5" />
  <arg name="minimum_ttc_s" default="3.0" />
  <arg name="confirmation_scans" default="3" />

  <include file="$(find lidar_perception)/launch/lidar_tracking.launch">
    <arg name="rviz" value="false" />
    <arg name="bind_ip" value="$(arg bind_ip)" />
    <arg name="host_port" value="$(arg host_port)" />
    <arg name="destination_port" value="$(arg destination_port)" />
    <arg name="odometry_topic" value="$(arg odometry_topic)" />
    <arg name="lidar_x_m" value="$(arg lidar_x_m)" />
    <arg name="lidar_y_m" value="$(arg lidar_y_m)" />
    <arg name="lidar_yaw_deg" value="$(arg lidar_yaw_deg)" />
    <arg name="min_hits" value="2" />
    <arg name="merge_gap_enabled" value="false" />
  </include>

  <include file="$(find lidar_perception)/launch/lidar_merge_gap_monitor.launch">
    <arg name="vehicle_length_m" value="$(arg vehicle_length_m)" />
    <arg name="vehicle_width_m" value="$(arg vehicle_width_m)" />
    <arg name="vehicle_height_m" value="$(arg vehicle_height_m)" />
    <arg name="lane_width_m" value="$(arg lane_width_m)" />
    <arg name="longitudinal_margin_m" value="$(arg longitudinal_margin_m)" />
    <arg name="time_headway_s" value="$(arg time_headway_s)" />
    <arg name="minimum_ttc_s" value="$(arg minimum_ttc_s)" />
    <arg name="confirmation_scans" value="$(arg confirmation_scans)" />
    <arg name="available_topic" value="$(arg merge_available_topic)" />
    <arg name="unavailable_topic" value="$(arg merge_unavailable_topic)" />
  </include>

  <node if="$(arg rviz)"
        pkg="rviz"
        type="rviz"
        name="lidar_merge_gap_rviz"
        args="-d $(find lidar_perception)/rviz/morai_lidar_merge_gap.rviz"
        output="screen" />
</launch>
