<launch>
  <!-- Merge-space monitor only. The tracking pipeline must already be running. -->
  <arg name="vehicle_length_m" default="4.635" />
  <arg name="vehicle_width_m" default="1.892" />
  <arg name="vehicle_height_m" default="2.434" />
  <arg name="lane_width_m" default="3.5" />
  <arg name="longitudinal_margin_m" default="1.0" />
  <arg name="time_headway_s" default="1.5" />
  <arg name="minimum_ttc_s" default="3.0" />
  <arg name="confirmation_scans" default="3" />
  <arg name="available_topic" default="/perception/merge_gap/available" />
  <arg name="unavailable_topic" default="/perception/merge_gap/unavailable" />
  <arg name="adjacent_obstacle_topic" default="/perception/merge_gap/left_lane_obstacles" />
  <arg name="obstacle_state_topic" default="/detection/obstacle_states" />
  <arg name="odometry_topic" default="/localization/odometry" />
  <arg name="highway_gate_required" default="false" />
  <arg name="highway_gate_topic" default="/perception/camera/highway_environment" />
  <arg name="highway_gate_timeout_s" default="0.5" />

  <node pkg="lidar_perception"
        type="lidar_merge_gap_node.py"
        name="lidar_merge_gap"
        output="screen">
    <param name="input_topic" value="/morai/lidar/tracking/results" />
    <param name="result_topic" value="/morai/lidar/merge_gap/results" />
    <param name="marker_topic" value="/morai/lidar/merge_gap/markers" />
    <param name="available_topic" value="$(arg available_topic)" />
    <param name="unavailable_topic" value="$(arg unavailable_topic)" />
    <param name="adjacent_obstacle_topic" value="$(arg adjacent_obstacle_topic)" />
    <param name="obstacle_state_topic" value="$(arg obstacle_state_topic)" />
    <param name="odometry_topic" value="$(arg odometry_topic)" />
    <param name="highway_gate_required" value="$(arg highway_gate_required)" />
    <param name="highway_gate_topic" value="$(arg highway_gate_topic)" />
    <param name="highway_gate_timeout_s" value="$(arg highway_gate_timeout_s)" />
    <param name="vehicle_length_m" value="$(arg vehicle_length_m)" />
    <param name="vehicle_width_m" value="$(arg vehicle_width_m)" />
    <param name="vehicle_height_m" value="$(arg vehicle_height_m)" />
    <param name="lane_width_m" value="$(arg lane_width_m)" />
    <param name="lane_lateral_allowance_m" value="0.4" />
    <param name="longitudinal_margin_m" value="$(arg longitudinal_margin_m)" />
    <param name="lateral_margin_m" value="0.2" />
    <param name="detection_range_m" value="40.0" />
    <param name="time_headway_s" value="$(arg time_headway_s)" />
    <param name="minimum_ttc_s" value="$(arg minimum_ttc_s)" />
    <param name="confirmation_scans" value="$(arg confirmation_scans)" />
    <param name="stale_timeout_s" value="0.5" />
    <param name="map_state_timeout_s" value="0.5" />
    <param name="log_interval_s" value="1.0" />
  </node>
</launch>
